.restaurantInfo {  
    display: flex;
    flex-direction: column-reverse;
    @media(min-width: $largeViewport){
        display: flex;
        flex-direction: row;
    }
}

.textContainer {
    text-align: center;
    padding: 5vw;
    margin-bottom: 5vh;
    h2{
        @include h2;
        text-align: center;
        font-size: 8vw;
        @media(min-width: $largeViewport){
            @include h2;
        }
    }
    p {
        @include bodyText;
        margin-bottom: 4vh;
    }
    a{
        @include buttonStyles;
    }

    @media(min-width: $mediumViewport){
        padding: 0vw 5vw 1vw 5vw;
    }
    @media(min-width: $largeViewport){
        align-self: center;
    }
}

.reversed {
    @media(min-width: $largeViewport){
        order: -1;
}
}

.restaurantInfo img{
    width: 100vw;
    @media(min-width: $largeViewport){
        max-width: 800px;
        width: 50vw;
}
}

.centered {
    @media(min-width:$largeViewport){
    text-align: left;
    padding-left: 0;
        h2{
            text-align: left;
            margin-top: 15px;
        }
}
}

.dessert-photo {
    padding: 5vw;
    @media(min-width: $largeViewport){
        padding-right: 30px;
        max-width: 25vw;
}
}
