.burgerWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
    @media(min-width:$largeViewport){
        display: none;
    }
}

.burgerWrapper div{
    width: 60px;
    height: 8px;
    background-color: black;
    margin: 3px;
}

nav{
    display:none;
    @media(min-width:$largeViewport){
        @include nav;
        display:flex;
        flex-direction: row;
        justify-content: center;
        color: $darkerGrey;
        list-style: none; 
            ul{
            display: flex;
            flex-direction: row;
            margin: 22px;
        }
                li{
                margin: 10px;
            }
    }
}

.socialLinks {
    display: none;
    @media(min-width:$largeViewport){
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:min-content;
        margin-left: 50px;
        li {
            margin: 10px;
            color: $deepOrange;
        }
    }
}

.header-img img{
    height: 80vh;
    margin-left: -200px;
    margin-top: -80px;
@media(min-width:$mediumViewport){
    margin-left: -300px;
@media(min-width: $largeViewport){
    margin: 0;
    }   
}
}

.header-img {
    @media(min-width: $largeViewport){
        order: -1;
    }
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18vw;
    line-height: 17vw;
    color:$deepOrange;   
    text-align: right;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    @media(min-width:$largeViewport){
        font-size: 10vw;
        line-height: 8vw;
        align-self: center;
    
    }
}

.wrapper.header {
    width:100%;
    @media (min-width:$largeViewport){
    display:flex;
    flex-direction: row;  
    margin-top:-90px;
}
} 



// nav{
//     display: flex;
//     justify-content:center;
//     padding-top: 50px;
//     li {
//         padding: 20px;
//     }
   
// }

// .header-img img{
//     @media (max-width: 420px) {
//         max-width: 100%;
//         height: auto;
//     }

// }

// .wrapper{
//     display:flex;
//     flex-direction: row;
    
// }


// .socialLinks{
//     display: flex;
//     align-items: center;
//     color: $deepOrange;
// }
// .socialLinks ul{
//     li {
//         margin:10px;
//         font-size: 25px;
//     }
// }



// nav ul{
//     @include nav;
//     color: $darkerGrey;
//     list-style: none; 
//     display: flex;
    
// }

// h1{
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 500;
//     font-size: 146.4px;
//     line-height: 120px;
//     color:$deepOrange;
//     margin: 0;
//     align-self: center;
//     word-break: break-all;
    
// }

// .headerContainer {
//     width: 50vw;
//     display: flex;
//     justify-content: space-between;
// }