.burgerWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
}

.burgerWrapper div{
    
    width: 60px;
    height: 8px;
    background-color: black;
    margin: 3px;
}

nav{
    display:none;
}

.header-img img{
    position: absolute;
    top: 150px;
    left: -200px;
    height: 75vh;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    color:$deepOrange;
    margin: 0;
    text-align: right;
    margin: 30px;
    word-break: break-all;
    
}

.headerContainer{
    margin-bottom: 500px;
}


// nav{
//     display: flex;
//     justify-content:center;
//     padding-top: 50px;
//     li {
//         padding: 20px;
//     }
   
// }

// .header-img img{
//     @media (max-width: 420px) {
//         max-width: 100%;
//         height: auto;
//     }

// }

// .wrapper{
//     display:flex;
//     flex-direction: row;
    
// }


// .socialLinks{
//     display: flex;
//     align-items: center;
//     color: $deepOrange;
// }
// .socialLinks ul{
//     li {
//         margin:10px;
//         font-size: 25px;
//     }
// }



// nav ul{
//     @include nav;
//     color: $darkerGrey;
//     list-style: none; 
//     display: flex;
    
// }

// h1{
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 500;
//     font-size: 146.4px;
//     line-height: 120px;
//     color:$deepOrange;
//     margin: 0;
//     align-self: center;
//     word-break: break-all;
    
// }

// .headerContainer {
//     width: 50vw;
//     display: flex;
//     justify-content: space-between;
// }